# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- Data/Large Files ---
models/
data/

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

.DS_Store
.vscode/
.idea/
*.log